.mySlides {display:none;}
.w3-bar {
    width: 60%;
    margin: auto;
}
.slide { width: 600px; height: 500px;}
img {width: 500px; height: 500px; margin: auto;}
.insta {width: 30px; height: 30px;}
.zap {width: 40px; height: 40px;}
 

 /* @media screen and (max-width: 360px){
    .w3-bar { width: 100%;}
    .slide { width: 340px; height: 440px;}
    img {width: 300px; height: 340px; margin: auto;}
    .insta {width: 30px; height: 30px;}
    .zap {width: 40px; height: 40px;}
}  */